body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #D2B48C; /* Light brown color */
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF; /* White text color */
  font-weight: bold;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #8B4513; /* Darker brown for hover effect */
  color: #FFFFFF; /* Ensure text remains white */
  border-radius: 5px;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #D2B48C; /* Light brown color for table headers */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #D2B48C; /* Light brown button color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #8B4513; /* Darker brown for hover effect */
}

/* .login {
  text-alig
} */